# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*.orig
*~

# Android / IntelliJ
.idea/
*.iml
out/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build
build/
android/app/build/
android/.gradle/

# Local config
android/local.properties

# OS
.DS_Store
Thumbs.db

# Secrets
*.keystore
*.jks